/**
 * Links
 */


a {
  color: $color-main;
  cursor: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3E Page 1 %3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FEFEFE' d='M17.504 6.798l-3.667 4.266h.634l1-.7 1.8-1.1.834-.7.867.367.334.6-.2.934-7.733 7.034-2.533 1.833-1.4.6-1.433 1.6-5.367-4.166 1.3-1.533-.366-3.066-.033-2.5-.566-3.8-.333-.866L2.07 5.23l.767.268 1 1.1.467 2.033.333.568L6.004 7.43l.933-3 1.1-2.766L9.07.698l.634.233.533.734L8.47 7.598l.634-.3 3.933-5.967 1.1-.2.567.6-.033.9-3.2 6.334.467-.033 4.5-4.332h.8l.4.566.4.567'/%3E%3Cpath d='M1.18 17.327l1.26-1.218L2.417 16c-.008-.037-.74-3.742-.406-6.047l.004-.024-.002-.024c-.012-.125-.284-2.904-.738-4.075.322-.066.985-.138 1.547.208.674.415 1.037 1.336 1.078 2.738l.624 1.53 1.66-2.738L8.48 1.636c.143-.372.584-.564.982-.428.196.067.35.203.434.38.078.168.084.354.016.53-.018.052-1.816 5.126-1.844 5.21-.095.28-.046.574.13.77.165.186.538.256.765.145.507-.247 1.66-2.07 4.11-6.502.197-.35.663-.48 1.037-.293.18.092.312.244.368.43.054.176.032.362-.062.528-1.99 3.663-3.37 6.23-3.412 6.33-.074.178-.098.444.204.693.19.157.45.202.66.115.454-.184 2.93-2.792 4.364-4.33.28-.298.767-.326 1.084-.06.15.125.238.297.25.484.012.188-.055.366-.198.52-3.823 4.425-3.962 4.636-4.034 4.745-.148.22-.09.515.14.72.187.17.462.218.7.126.05-.02.2-.078 3.607-2.554.152-.132.34-.197.553-.193.205.007.395.09.533.23.135.136.206.314.2.5-.008.188-.094.364-.244.496l-6.778 6.15c-1.227 1.11-3.026 2.542-4.624 3.067l-.096.03L5.89 20.99l-4.71-3.663zM19.435 8.7c-.28-.285-.663-.45-1.075-.464-.406-.01-.805.127-1.078.367l-.62.45c-.644.47-1.428 1.04-2.002 1.45.75-.883 2.044-2.388 3.3-3.843.277-.295.416-.675.39-1.07-.023-.395-.208-.756-.52-1.017-.635-.532-1.613-.476-2.18.126-1.328 1.422-2.832 2.982-3.597 3.715.636-1.186 2.077-3.846 3.056-5.647.192-.34.236-.735.123-1.107-.117-.387-.387-.704-.76-.892-.75-.377-1.688-.105-2.092.608-1.508 2.727-2.803 4.876-3.413 5.762l1.686-4.76c.138-.36.124-.754-.04-1.105-.174-.37-.49-.65-.89-.787-.8-.273-1.687.123-1.98.882l-2.266 5.87-.798 1.31c-.084-1.595-.57-2.66-1.452-3.165-.726-.416-2.1-.555-2.61-.117-.21.18-.263.444-.138.687.343.665.628 2.79.744 3.96-.32 2.26.056 4.75.348 5.956L0 17.39l5.972 4.645 1.795-1.9c1.707-.592 3.557-2.064 4.813-3.2 5.127-4.628 6.437-5.81 6.748-6.175l.026.03c.306-.27.483-.636.497-1.033.015-.394-.132-.77-.415-1.056z' fill='%231D1D1B'/%3E%3C/g%3E%3C/svg%3E"), auto;

  &:hover, &:focus {
    color: $color-second;
  }

  &[href^="http"] {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5 3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6l-2-2v8H5V5h8l-2-2H5zm9 0l2.656 2.656-7.5 7.5 1.688 1.688 7.5-7.5L21 10V3h-7z'/%3E%3C/svg%3E") no-repeat 0 .22em / 1em 1em;
    padding-left: 1.5rem;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5 3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6l-2-2v8H5V5h8l-2-2H5zm9 0l2.656 2.656-7.5 7.5 1.688 1.688 7.5-7.5L21 10V3h-7z' fill='%23666'/%3E%3C/svg%3E");
    }
  }
}
