{% set subPageTitle = 'Home' %}
{% extends 'layouts/base.twig' %}

{% block page %}
    {% for project in projects %}
        <article class="row project">
            <div class="col-xs-12 col-lg-4">
                <header class="project__header clearfix">
                    <div class="pull-left">
                        <h1>{{ project.title }}</h1>
                        <h2>{{ project.subtitle }}</h2>
                    </div>
                    <button class="hidden-lg pull-right">
                        i
                    </button>
                </header>
                <div class="project__info">
                    <p>{{ project.text }}</p>
                    <footer class="project__footer">
                        <div>—</div>
                        {% for item in project.meta %}
                        <time>{{ item.year }}</time>
                        <dl>
                            {% for item in item.tags %}
                                <dt>{{ item }}</dt>
                            {% endfor %}
                        </dl>
                        {% endfor %}
                    </footer>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="slider">
                    {% for image in project.slider %}
                        <img class="img-responsive" src="{{ image.src }}" alt="{{ image.alt }}">
                    {% endfor %}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}

