/**
 * Header
 */

header {
  @include border();
  font-size: 1.4rem;

  @include mq($from: desktop) {
    font-size: 1.6rem;
  }
}

.logo {
  font-size: 100%;
  margin: 0;
  text-transform: none;
}

.navigation {

  @include mq($until: tablet) {
    @include clearfix;

    > .logo {
      float: left;
    }

    button {
      margin-top: 1em;
      float: right;
    }
  }

  a {
    display: block;
    padding: 1em 0;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  @include mq($until: tablet) {
    width: 100%;
    float: left;
  }

  @include triggerTarget(tablet);
}

.menu__item {
  @include border();
  @include clearfix;

  a {
    padding-left: 5rem;
    position: relative;
  }

  &--smile {
    a {
      &:before {
        @include pseudo();
        left: 0;
        top: .8em;
        width: 3rem;
        height: 3rem;
        background: rgba(0, 0, 0, 0) no-repeat 0 0 / 69px 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='69' height='30' viewBox='0 0 69 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%281%29'%3E%3Ccircle stroke='%23000' cx='14.215' cy='14.775' r='14.215'/%3E%3Cpath d='M11.373 11.158c0 1.27-.54 2.3-1.206 2.3-.667 0-1.207-1.03-1.207-2.3 0-1.27.54-2.3 1.207-2.3.666 0 1.206 1.03 1.206 2.3M19.474 11.158c0 1.27-.54 2.3-1.206 2.3-.667 0-1.207-1.03-1.207-2.3 0-1.27.54-2.3 1.208-2.3.666 0 1.206 1.03 1.206 2.3M6.49 17.743s2.714 4.74 7.64 4.775c4.926.035 7.814-4.775 7.814-4.775s-2.855 3.022-7.814 3.022c-4.93 0-7.64-3.022-7.64-3.022' fill='%231D1D1B'/%3E%3C/g%3E%3Cg transform='translate%2840%29'%3E%3Ccircle stroke='%23000' cx='14.215' cy='14.775' r='14.215'/%3E%3Cpath d='M11.373 11.158c0 1.27-.54 2.3-1.206 2.3-.667 0-1.207-1.03-1.207-2.3 0-1.27.54-2.3 1.207-2.3.666 0 1.206 1.03 1.206 2.3M6.49 17.743s2.714 4.74 7.64 4.775c4.926.035 7.814-4.775 7.814-4.775s-2.855 3.022-7.814 3.022c-4.93 0-7.64-3.022-7.64-3.022M18.34 11.33c1.132 0 1.794.44 1.814.453l1.038.733-.635-1.09c-.032-.055-.79-1.327-2.192-1.337h-.015c-1.392 0-2.188 1.275-2.22 1.33l-.684 1.12 1.084-.758c.006-.004.662-.453 1.81-.453' fill='%231D1D1B'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      &:hover, &[aria-expanded="true"] {
        &:before {
          background-position-x: -39px;
        }
      }
    }
  }
  &--imprint {
    a {
      &:before {
        @include pseudo();
        left: 0;
        top: .8em;
        width: 3rem;
        height: 3rem;
        background: rgba(0, 0, 0, 0) no-repeat 10px 0 / 32px 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='20' viewBox='0 0 32 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 .197h10.793V19.5H0z'/%3E%3Cpath id='c' d='M0 .197h10.793V19.5H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M5.688 11.064c-1.432-.474-2.06-.754-2.06-1.438 0-.31.105-.58.304-.786.385.153.773.28 1.15.404 1.447.478 2.083.758 2.083 1.433 0 .313-.106.588-.31.803-.386-.156-.777-.286-1.168-.416m2.478-.387c0-1.47-1.41-1.933-2.774-2.383-.446-.148-.91-.3-1.34-.49l-.25-.11-.23.152c-.607.406-.94 1.038-.94 1.78 0 1.478 1.394 1.94 2.75 2.39.454.15.923.306 1.362.5l.258.115.23-.16c.603-.418.934-1.055.934-1.793' fill='%231D1D1B'/%3E%3Cg transform='translate%280 .304%29'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M7.386 15.184c0-1.26-1.315-1.74-2.71-2.25C2.87 12.27 1 11.588 1 9.36c0-.98.41-1.852 1.19-2.52l.35-.3-.273-.374c-.33-.45-.49-.984-.49-1.633 0-2.167 2.06-3.337 4-3.337 1.238 0 2.28.29 3.254.912l-.774 1.105c-.65-.43-1.473-.68-2.247-.68-1.296 0-2.603.612-2.603 1.98 0 1.26 1.315 1.74 2.708 2.25 1.808.66 3.678 1.345 3.678 3.573 0 .962-.423 1.866-1.192 2.545l-.332.295.253.365c.333.48.495 1.012.495 1.624 0 2.167-2.06 3.336-3.998 3.336-1.238 0-2.28-.29-3.254-.91l.774-1.106c.653.428 1.474.68 2.247.68 1.295 0 2.602-.613 2.602-1.98m3.407-4.848c0-2.928-2.505-3.844-4.335-4.512-1.055-.386-2.05-.75-2.05-1.312 0-.967 1.536-.98 1.6-.98.717 0 1.527.308 2.017.763l.42.39 1.972-2.814-.39-.29C8.757.637 7.405.197 5.777.197c-2.423 0-5 1.52-5 4.337 0 .702.146 1.308.443 1.847C.42 7.2 0 8.226 0 9.36c0 2.928 2.505 3.844 4.337 4.514 1.054.385 2.05.75 2.05 1.31 0 .968-1.538.98-1.603.98-.714 0-1.524-.307-2.016-.763l-.42-.39-1.972 2.816.39.29C2.04 19.06 3.39 19.5 5.017 19.5c2.424 0 5-1.52 5-4.336 0-.66-.152-1.274-.45-1.826.794-.832 1.227-1.89 1.227-3.002' fill='%231D1D1B' mask='url%28%23b%29'/%3E%3C/g%3E%3Cg%3E%3Cg transform='translate%2821 .304%29'%3E%3Cmask id='d' fill='%23fff'%3E%3Cuse xlink:href='%23c'/%3E%3C/mask%3E%3Cpath d='M10.793 10.336c0 1.11-.433 2.17-1.226 3.002.297.552.448 1.166.448 1.826 0 2.816-2.575 4.336-4.998 4.336-1.628 0-2.978-.44-4.25-1.384l-.39-.29 1.97-2.815.42.39c.493.457 1.303.763 2.017.763.065 0 1.602-.01 1.602-.98 0-.56-.995-.924-2.05-1.31C2.507 13.204 0 12.29 0 9.362 0 8.227.42 7.2 1.22 6.38.923 5.84.778 5.235.778 4.533.778 1.716 3.354.196 5.776.196c1.63 0 2.98.44 4.25 1.385l.39.29-1.97 2.816-.42-.39c-.49-.456-1.3-.763-2.017-.763-.066 0-1.603.012-1.603.98 0 .56.996.925 2.05 1.31 1.83.67 4.336 1.585 4.336 4.513z' fill='%231D1D1B' mask='url%28%23d%29'/%3E%3Cpath d='M5.688 10.76c-1.432-.474-2.06-.753-2.06-1.437 0-.31.105-.58.304-.787.385.153.773.28 1.15.405 1.447.478 2.083.758 2.083 1.434 0 .313-.106.587-.31.802-.386-.156-.777-.286-1.168-.416z' fill='%23FFF' mask='url%28%23d%29'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        @include mq($from: desktop) {
          background-position-x: 10px;
        }
      }
      &:hover {
        &:before {
          background-position-x: -11px;

        }
      }
    }
  }
  &--mail {
    a {
      &:before {
        @include pseudo();
        left: 0;
        top: .4em;
        width: 3rem;
        height: 3rem;
        background: rgba(0, 0, 0, 0) no-repeat 0 0 / 60px 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='69' height='35' viewBox='0 0 69 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231D1D1B' fill-rule='evenodd'%3E%3Cpath d='M52 0L35.09 13.96l-.09.075V35h34V14.035L52 0zm3.425 25.95l12.568-10.475v18.132L55.425 25.95zM36.007 15.475L48.575 25.95l-12.568 7.657V15.475zM52 25.038L66.713 34H37.287L52 25.038zM0 35h34V14H0v21zm1.887-20.005h30.226L17 27.535 1.887 14.994zm18.538 10.998l12.568-10.428v18.048l-12.568-7.62zM1.007 15.565l12.568 10.427-12.568 7.62V15.566zm18.605 11.102l12.1 7.338H2.288l12.102-7.338L17 28.834l2.612-2.167z'/%3E%3C/g%3E%3C/svg%3E");
      }
      &:hover {
        &:before {
          background-position-x: -30px;
        }
      }
    }
  }
}
