/**
 * This file works as a manifest, where all @imports and initial settings are
 * defined.
 */

$font-size-base: 18px;

$mq-responsive: true;

$mq-breakpoints: (
  mobile: 320px,
  mobileLandscape: 460px,
  tablet: 768px,
  desktop: 992px,
  wide: 1200px,
  xl: 1440px,
);

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_type.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities.scss';
@import 'bower_components/slick-carousel/slick/slick.scss';
@import 'bower_components/sass-mq/_mq.scss';
// endbower

// abstracts
@import 'abstract/variables';
@import 'abstract/mixins';
@import 'abstract/spacing';
@import 'abstract/anim';

// base
@import 'base/global';
@import 'base/typography';
@import 'base/links';
@import 'base/buttons';

// components
@import 'components/project';
@import 'components/slider';
@import 'components/profile';

// layouts
@import 'layout/header';

