<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>{{ site.name }} – {{ site.subtitle }} {{ subPageTitle ? ' | ' ~ subPageTitle : '' }}</title>

    <!-- build:css assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css assets/styles/main.css -->
    <link href="assets/styles/main.css" rel="stylesheet"/>
    <!-- endbuild -->
</head>
<body>
{% include 'icons.twig' %}
<div class="container-fluid">
    <a href="#main" class="sr-only">Zum Hauptinhalt wechseln</a>
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-3 fixed">
            {% include '../templates/template-header.twig' %}
        </div>

        <main id="main" class="col-xs-12 col-sm-8 col-md-9">
            {% block page %}{% endblock %}
        </main>
    </div>
    <button class="back-to-top">
        <svg>
            <use xlink:href="#icon-arrow"></use>
        </svg>
    </button>
</div>


<!-- build:js assets/scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<script src="/bower_components/fontfaceobserver/fontfaceobserver.standalone.js"></script>
<script src="/bower_components/waypoints/lib/noframework.waypoints.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js assets/scripts/plugins.js -->

<!-- endbuild -->

<!-- build:js assets/scripts/main.js -->
<script src="assets/scripts/trigger.js"></script>
<script src="assets/scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
