<svg style="display: none">
    <symbol id="icon-nav" viewBox="0 0 50 50">
        <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z "></path>
    </symbol>

    <symbol id="icon-arrow" viewBox="0 0 10 16">
        <path d="M4.795.797L.132 6.272H1.81L4.076 3.56v12.233h1.436V3.56L7.78 6.27h1.677"/>
    </symbol>
</svg>
