<header role="banner">
   <nav class="navigation navigation--main" aria-label="site">
      <h1 class="logo">
         <a href="/" title="Zurück zur Startseite">
            {{ site.name }}
            <br>
            {{ site.subtitle }}
         </a>
      </h1>

      <button class="visible-xs" aria-expanded="false">
         <svg>
            <use xlink:href="#icon-nav"></use>
         </svg>
      </button>

      <ul class="menu" aria-expanded="false">
          {% for item in navigation.items %}
             <li class="menu__item menu__item--{{ item.icon }}">
                <a href={{ item.link }} {{ item.title == 'About' ? 'id="aboutTrigger"' : '' }}>
                    {{ item.title }}
                </a>
                 {% if item.title == 'About' %}
                    <div class="profile">
                       <img src="{{ profile.imageSrc }}" alt="{{ profile.imageAlt }}">
                       {{ profile.content }}
                    </div>
                 {% endif %}
             </li>
          {% endfor %}
      </ul>
   </nav>
</header>
