{% set subPageTitle = page.title %}
{% extends '../layouts/base.twig' %}

{% block page %}
    <div class="single-wrap">
        {% block contentSingle %}
            {% for item in contents %}
                <article>
                    <h1>{{ item.headline }}</h1>
                    {{ item.content }}
                </article>
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}
